/*-------- Badge --------*/

.badge {
  padding: 8px 16px;

  font-family: $font-sb;
  font-size: 18px;
  color: #fff;
  border-radius: 6px;
  text-transform: capitalize;

  &--common {
    background-color: $black;
  }

  &--uncommon {
    background-color: $green;
  }

  &--rare {
    background-color: $blue;
  }

  &--epic {
    background-color: $orange;
  }

  &--legend {
    background-color: $red;
  }
}
