* {
    box-sizing: border-box;
}

body {
    min-width: 320px;

    font-family: $font-r;
    font-size: 18px;
    color: $black;

    background-color: $beige;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.logo {
    transition: filter 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        filter: brightness(120%);
    }

    &__icon {
        display: block;
        width: 100%;
    }
}

.section {

    &--orange {
        background-color: $orange;
    }
}

@media (max-width: 767px) {

    body {
        font-size: 16px;
    }
}

@media (max-width: 479px) {

    .container {
        padding: 0 12px;
    }
}
