/*-------- Product --------*/

.product {
  display: flex;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;

  &__column--1 {
    width: 54%;
  }

  &__column--2 {
    display: flex;
    flex-direction: column;

    width: 46%;
    padding-left: 70px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px 0;

    font-size: 20px;
    text-transform: uppercase;
  }

  &__item:not(:first-child) {
    border-top: 2px solid $black;
  }

  &__item-title {
    text-transform: uppercase;
  }

  &__item-text {
    font-family: $font-b;
  }

  &__item-text--address {
    text-decoration: underline;
  }

  &__button {
    padding: 0 70px;
    margin-left: auto;
  }

  &__minting {
    text-align: center;
    margin-bottom: 20px;
  }
}

.NFTs {
  // padding-top: 132px;
  padding-bottom: 132px;

  &__wrapper {
    background-image: url(../../images/roadmap/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__title {
    text-align: center;
  }

  &__cards-list {
    margin-top: 64px;
  }

  .nftImage {
    width: 220px;
    height: 220px;
    border-radius: 24px;
  }

  .nft-title {
    text-align: center;
    margin-bottom: 5px;
  }
}

.seconds .tick-flip-panel {
  color: #eee;
  background-color: #2c99bd !important;
}

.minutes .tick-flip-panel {
  color: #eee;
  background-color: #ffa921 !important;
}

.hours .tick-flip-panel {
  color: #eee;
  background-color: #dd1d21 !important;
}

.days .tick-flip-panel {
  color: #eee;
  background-color: #3ba839 !important;
}

.tick-flip {
  font-size: 50px;
  height: 65px;
  width: 20px;
}

.container-countdown {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.counter-item-container {
  display: flex;
}

@media (max-width: 1200px) {
  .tick-flip {
    font-size: 40px;
    height: 55px;
    width: 18px;
  }
}

@media (max-width: 989px) {
  .product {
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;

    &__column {
      width: 100%;
    }

    &__column--1 {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }

    &__column--2 {
      margin-top: 20px;
      padding-left: 0;
    }

    &__button {
      margin-right: auto;
    }
  }
}

@media (max-width: 619px) {
  .product {
    &__list {
      margin-top: 20px;
    }

    &__item {
      padding: 20px 0;
      font-size: 16px;
    }

    &__button {
      height: 50px;
      padding: 0 40px;
    }
  }
}

@media (max-width: 479px) {
  .product {
    padding-top: 40px;
    padding-bottom: 40px;

    &__item {
      font-size: 14px;
    }
  }
}


